body {
  display: flex;
  color:red;
  align-items: center;
  justify-content: center;
  background: #dde2e2;
  font-family: 'Poppins', sans-serif !important;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
}
#root {
  max-width: 50%;
}
#frame {
  position: relative;
  width: 100%;
  /* min-width: 600px; */
  width: 700px;
  height: 90vh;
  min-height: 300px;
  background: #e6eaea;
}
@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 90vh;
 }
}
#frame .content {
  float: right;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
 }
}
@media screen and (min-width: 900px) {
  #frame .content {
    width: 100%;
 }
}

#frame .content .no-messages {
  color: #435f7a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
}
#frame .content .messages {
  height: auto;
  min-height: calc(100% - 137px);
  max-height: calc(100% - 137px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 137px);
 }
}
#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 0, 0, .0);
}
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .3);
}

#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
 }
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
 }
}
#frame .content .message-input .wrap input:focus {
  outline: none;
}
#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: 0.5;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
 }
}
#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
#frame .content .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}
#frame .content .message-input .wrap button.red {
  background: #a51313;
  color: #f5f5f5;
}
#frame .content .message-input .wrap button:disabled {
  background: #597a9b;
  color: #f5f5f5;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
    padding: 16px 0;
 }
}
#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}
#frame .content .message-input .wrap button.red:hover {
  background: #a51313;
}
#frame .content .message-input .wrap button:focus {
  outline: none;
}




/* CUSTOM CSS */

#frame .content .messages ul li.sent {
  text-align: left;
  float: left;
  width: 100%;
  padding-bottom: 20px;
}

#frame .content .messages ul li.replies {
  text-align: right;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  right: 25px;
  position: relative;
}

.bot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
  /* font-size: 30px; */
  color: #3598dc;
  text-align: center;
  font-weight: bold;
  vertical-align:top;
}
.bot img {
  width:100%;
  height:100%;
  border-radius: 50%;
}
.bot-msg {
  background-color: #3F5C7B;
  padding: 10px;
  border-radius: 4px;
  font-weight: 300;
  color: #fff;
  display: inline-block;
  vertical-align:top;
  position: relative;
  margin-left: 8px;
  box-shadow: -2px 2px 25px rgba(0, 0, 0, 0.12);
  max-width:70%;
  font-size: 13px;
}
.play-icon-bot{
  display: flex;
  justify-content: end;
}
.play-icon-bot span{
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}
.user-msg {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  vertical-align:top;
  position: relative;
  color: #3F5C7B;
  margin-right: 8px;
  box-shadow: -2px 2px 25px rgba(0, 0, 0, 0.12);
  max-width:70%;
  text-align: left;
}
.message-input {
  /* margin-top: 20px; */
  position: relative;
  clear: both;
}
.message-input .chat-input input {
  width: 100%;
  padding: 20px 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  outline: none;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.message-input .chat-input input:focus {
  border:1px solid #3F5C7B;
}
.message-input .chat-controls {
  list-style-type: none;
  text-align: right;
  position: absolute;
  top: 0;
  right: 5px;
  margin: 10px 5px;
}
.message-input .chat-controls li {
  display: inline-block;
  vertical-align: middle;
}

.message-input .chat-controls .submit-btn {
  background: #3F5C7B;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #fff;
  outline: none;
}
.message-input .chat-controls .voice-btn {
  background: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #888;
  font-size: 1.5em;
  outline: none;
}
.contact-profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: #fff;
  height: 70px;
}
.profile-m-head {
  display: flex;
  align-items: center;
}
.profile-m-head img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-m-head span{
  font-weight: 600;
  font-size: 16px;
}

.submit-btn svg {
  margin-left: -7px;
}
